@import '../node_modules/materialize-css/dist/css/materialize.css';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.OrderPageLayout {
	display: flex;
	padding: 50px;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.card-image {
	height: 200px;
	overflow: hidden;
}

#chuck {
	margin-top: -250px;
	position: absolute;
	top: 50%;
}

.MenuItemComponent {
	margin: 20px;
	width: 300px;
}

.MenuComponent {
	display: flex;
	/*flex-flow: row wrap;*/
	flex-wrap: wrap;
	width: 700px;
}

@media (max-width: 400px) {
	.MenuComponent {
		width: 350px;
	}
	.leftColumn {
		width: 350px;
	}
	.rightColumn {
		width: 300px;
		margin: 10px 0;
	}
	.brand-logo {
		font-size: 10px;
	}
}

.OrderFormComponent {
	margin-top: 60px;
}

.leftColumn {
	width: 50%;
	margin: 10px;
	margin-right: 20px;
	box-sizing: border-box;
}

.rightColumn {
	margin: 10px 150px;
	width: 300px;
	box-sizing: border-box;
}
