@import '../node_modules/materialize-css/dist/css/materialize.css';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.OrderPageLayout {
	display: flex;
	padding: 40px;
	vertical-align: middle;
}

.MenuItemComponent {
	margin: 20px;
	width: 300px;
}

.MenuComponent {
	display: flex;
	/*flex-flow: row wrap;*/
	flex-wrap: wrap;
	width: 700px;
	box-sizing: border-box;
}

@media (max-width: 400px) {
	.MenuComponent {
		width: 350px;
	}
}

.OrderTableComponent {
	width: 500px;
}

.OrderFormComponent {
	width: 400px;
}

.leftColumn {
	width: 60%;
	margin: 10px;
}

.rightColumn {
	margin: 10px;
	width: 40%;
}
